<br><h2 style="text-align: center"><b>VENDOR-CONTACT SYSTEM</b></h2>
<br><br>
<div class="container-fluid">
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/vendorcontact" routerLinkActive="active">VendorContact Details</a>
    </li>
    <!-- <a routerLink="logout()"><img src="assets/logout.png" style="width:50px;"/></a>  -->

<li>
        <button class="btn btn-danger"  (click)="logout()">
            Logout
          </button>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>